<h2>Информационные системы и технологии. Их классификация в организационном управлении</h2>

<div class="book-text">
  <label>
      <br>
      <span class="tab"></span>Рыночная экономика приводит к возрастанию объема и услож нению задач, решаемых в области организации
      производства, про цессов планирования и анализа, финансовой работы, связей с по ставщиками и потребителями
      продукции, оперативное управление которыми невозможно без организации современной автоматизиро ванной
      информационной системы (ИС).
    <br>
    <br>
    <span class="tab"></span>
      <strong>Информационная система управления</strong>  — совокупность информации, экономико-математических методов и моделей,
      технических, про граммных, других технологических средств и специалистов, предназна ченная для обработки
      информации и принятия управленческих решений.
    <br>
    <br>
    <span class="tab"></span>
      Информационная система управления должна решать текущие задачи стратегического и тактического планирования,
      бухгалтерского учета и оперативного управления фирмой путем вторичной обработки данных оперативного управления.
    <br>
    <br>
    <span class="tab"></span>
    <strong>Информационные системы управления позволяют:</strong>
    <ul>
      <li>повышать степень обоснованности принимаемых решений за счет оперативного сбора, передачи и обработки информации;</li>
      <li>обеспечивать своевременность принятия решений по управлению организацией в условиях рыночной экономики;</li>
      <li>добиваться роста эффективности управления за счет своевременного представления необходимой информации
        руководителям всех уровней управления из единого информационного фонда;</li>
      <li>согласовывать решения, принимаемые на различных уровнях
        управления и в разных структурных подразделениях;</li>
      <li>за счет информированности управленческого персонала о текущем состоянии экономического объекта обеспечивать
        рост производительности труда, сокращение непроизводственных потерь и т. д.</li>
    </ul>
    <br>
    <span class="tab"></span>
      <strong> Классификация информационных систем управления</strong>
    <br>
    <br>
    <span class="tab"></span>
    Основными классификационными признаками автоматизиро ванных информационных систем являются:
    <ul>
      <li>
        уровень в системе государственного управления; область функционирования экономического объекта;
      </li>
      <li>
        виды процессов управления;
      </li>
      <li>
        степень автоматизации информационных процессов.
      </li>
    </ul>
     <br>
    <span class="tab"></span>
    <strong>Муниципальные ИС </strong>функционируют в органах местного само-управления для информационного обслуживания специалистов и
      обеспечения обработки экономических, социальных и хозяйственных прогнозов, местных бюджетов, контроля и
      регулирования дея тельности всех звеньев социально-экономических областей города, административного района и т. д.
    <br>
    <br>
    <span class="tab"></span>
     Классификация по области функционирования экономиче ского объекта ориентирована на
      производственно-хозяйственную дея тельность предприятий и организаций различного типа.
      промышленно сти и сельского хозяйства, транспорта, связи, банковские ИС и др.
    <br>
    <br>
    <span class="tab"></span>
    По видам процессов управления ИС делятся на: ИС управления технологическими процессами предназначены для
      автоматизации различных технологических процессов (гибкие техно логические процессы, энергетика и т. д.).
    <br>
    <br>
    <span class="tab"></span>
    ИС управления организационно-технологическими процессами пред-ставляют собой многоуровневые, иерархические
      системы, которые сочетают в себе ИС управления технологическими процессами и ИС управления предприятиями.
    <br>
    <br>
    <span class="tab"></span>
      Наибольшее распространение получили <strong>ИС организационного управления</strong>, которые предназначены для автоматизации
      функций управленческого персонала. Учитывая наиболее широкое примене ние и разнообразие этого класса систем, часто
      различные информа ционные системы понимаются именно в этом толковании. К этому классу ИС относятся информационные
      системы управления, как промышленными фирмами, так и непромышленными экономиче скими объектами — предприятиями
      сферы обслуживания. Основны ми функциями таких систем являются оперативный контроль и ре гулирование, оперативный
      учет и анализ, перспективное и оператив ное планирование, бухгалтерский учет, управление сбытом и снаб жением и
      решение других экономических и организационных задач.
    <br>
    <br>
    <span class="tab"></span>
     <strong>Интегрированные ИС</strong>  предназначены для автоматизации всех функций управления фирмой и охватывают весь цикл
      функциониро вания экономического объекта: начиная от научно-исследовательских работ, проектирования, изготовления,
      выпуска и сбыта продукции до анализа эксплуатации изделия.
    <br>
    <br>
    <span class="tab"></span>
    <strong>Корпоративные ИС </strong>используются для автоматизации всех функ ций управления фирмой или корпорацией, имеющей
      территориаль ную разобщенность между подразделениями, филиалами, отделе ниями, офисами и т. д.
    <br>
    <br>
    <span class="tab"></span>
    <strong> ИС научных исследований </strong>обеспечивают решение научно-исследо-вательских задач на базе экономико-математических
      методов и моделей.
    <br>
    <br>
    <span class="tab"></span>
    <strong> Обучающие ИС </strong> используются для подготовки специалистов в сис теме образования, при переподготовке и повышении
      квалификации работников различных отраслей экономики.
    <br>
    <br>
    <span class="tab"></span>
    По степени автоматизации информационных процессов ИС подразделяются на:
    <br>
    <br>
    <span class="tab"></span>
      <strong>Ручные информационные системы</strong>, которые характеризуются отсут-ствием современных технических средств обработки
      информации и выполнением всех операций человеком по заранее разработанным методикам.
    <br>
    <br>
    <span class="tab"></span>
    <strong> Автоматизированные информационные системы </strong>— человеко-машинные системы, обеспечивающие автоматизированный сбор,
      обработку и передачу информации, необходимой для принятия управленческих решений в организациях различного типа.
    <br>
    <br>
    <span class="tab"></span>
      <strong>Автоматические информационные системы </strong>характеризуются выпол-нением всех операций по обработке информации
      автоматически, без участия человека, но оставляют за человеком контрольные функции.
  </label>
</div>
