:host {
  display: flex;
  flex-direction: column;

  > div.book-text {
    height: 100%;
    overflow-x: hidden;
  }
  > h2 {
    flex: 0 0 30px;
    text-align: center;
  }
}


strong {
  font-size: 26px;
}


label {
  font-size: 20px;
  word-wrap: break-word;
}

.tab {
  margin-left: 2em;
}
