<div class="item">
  <ul>
    <li routerLinkActive="active" [routerLink]="['/book']">
      <span class="svg-book"></span>
      <a  class="text"> Теория </a>
    </li>
    <li routerLinkActive="active" [routerLink]="['/test']">
      <span class="svg-test"></span>
      <!--<a  class="text" routerLinkActive="active" [routerLink]="['/test']"> Тест </a>-->
      <span class="text">Тест</span>
    </li>
    <li routerLinkActive="active" [routerLink]="['/about']">
      <span class="svg-about"></span>
      <a  class="text"> Автор </a>
    </li>
  </ul>
</div>
