<div class="container">

  <div style="display: flex; flex-direction: row; justify-content: space-around" class="timer" *ngIf="startWorkTest">
    <div style="display: flex; align-items: center">
      <label style="font-family: fantasy">время до завершения теста:     </label>
      <label style="font-family: fantasy;margin-left: 20px" id="timer"></label>
    </div>

    <div style="display: flex; align-items: center">
      <button style="    background: greenyellow;border: 1px solid gold;border-radius: 20px;width: 200px;height: 30px;color: black;font-family: fantasy;" (click)="testComplite()">
        Завершить тест
      </button>
    </div>


  </div>
  <div class="line"></div>

  <div class="test">
    <div [ngSwitch]="val">
      <div *ngFor="let Q of values; index as i" (click)="val = i">
        <div *ngSwitchCase="i">
          <h1>{{Q.question}}</h1>
            <div *ngFor="let answer of Q.answers; index as indAnswer">
              <input type="radio" name="radioGroup" id="{{answer.answer}}" (change)="currently(Q, answer)" [ngClass]="" checked = "{{answer.cheked === true  ? 'checked' : undefined}}">
              <label for="{{answer.answer}}">{{answer.answer}}</label>
              <label>   =>   {{ answer.isTrue }}</label>
            </div>
        </div>
      </div>
      <div *ngSwitchDefault style="align-items: center; justify-content: center;display: flex; flex-direction: column">
        <h1 style="margin-bottom: 100px; text-align: center; font-size: 36px;">Информационные системы и технологии. Их классификация в организационном управлении</h1>
        <button style="width: 200px; height: 100px; border: 2px solid black; background: red; border-radius: 50px; font-size: 20px; font-family: fantasy;" (click)="startTest()"> НАЧАТЬ ТЕСТ</button>
      </div>
    </div>

  </div>



  <div class="controls" *ngIf="startWorkTest">

    <div class="line"></div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
      <button (click)="prevStep()" [disabled]="disPrevStep"><=</button>
      <button [ngClass]="{grinBack: val === i}" *ngFor="let Q of values; index as i" (click)="stepper(i)">{{i+1}}</button>
      <button (click)="nextStep()" [disabled]="disNextStep">=></button>
    </div>


  </div>
</div>
